{%  extends 'base.html' %}

{% block content %}

    <h1>{{ object.title | title }}</h1>
    <div class="by-line">
         {{ object.pub_date }}
        {% if object.author.first_name %}
            - By: {{ object.author.first_name | title }} {{ object.author.last_name | title }}
        {% endif %}
        {% if user == article.author %}
            <a href="{% url 'update_article' article.pk %}" class='btn btn-xs btn-info'>
                edit
            </a>
        {% endif %}
    </div>
    <hr>

    <div class="">{{ object.body | safe }}</div>

    <nav>
        {% for tag in object.tags.all %}
            <a href="{% url 'tag_article_list' tag.pk %}">{{ tag.name }}</a>
            <span class="spacer">|</span>
        {%  endfor %}
    </nav>

    {% include "article/commentbox.html" %}

{% endblock %}