{%  extends 'base.html' %}

{%  block content %}
    <h2>Latest News</h2>
    <ul>
        {% for article in latest_articles %}
            <li>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.pub_date }} - {{ article.title | title }}
                </a>
            </li>
        {%  endfor %}
    </ul>
    
    {% for promote in promoted %}
        <hr>
        <h3><a href="{{ promote.get_absolute_url }}">
            {{ promote.title | title }}
        </a></h3>
        {{ promote.body | safe }}
    {% endfor %}


{%  endblock %}