@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';
@import 'https://fonts.googleapis.com/css?family=UnifrakturCook:700';



@media only screen and (min-width: 768px) {
    /* For tablets: */
    .container {
        width: 768px;
        margin: 0 auto 0;
    }
}
@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .container {
        width: 1024px;
        margin: 0 auto 0;
    }
}

html {
    height: 100%;
}

body {
    background-color: rgb(255, 251, 240);
    background-image: url(/static/img/vintage-newspaper-print.jpg);
    background-position: center;
    margin: 0;
    height: 100%
}

nav {
    font-size: 12px;
}

nav a{
    display: inline-block;
    text-transform: uppercase;
}
nav .spacer {
    color: rgb(51, 122, 183);
    display: inline-block;

    margin: 0 8px 0 8px;
    text-align: center;

}
footer {
    background-color: rgb(255, 250, 240);
    display: block;
}

.block {
    display: inline-block;
}

.container {
    background-color: rgb(255, 250, 240);
    display:block;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
    min-height: 100%;
}

.page-header {
    text-align: center;
    font-family: 'UnifrakturCook', cursive;
}

.content {
    border-top: 1px solid #eee;
    margin-top: 20px;
}

.content p {
    text-indent: 25px;
}

.by-line {
    color: rgb(51, 122, 183);
}

.block {
    display: inline-block;
    width: 33%;
    text-align: center;
}